<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
    <title>Weather App</title>
</head>

<body>
    <!-- Navbar -->
    {{>navbar}}


    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- Left Side Div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="Tarun" class="img-fluid" title="Tarun Kumar">
                        </figure>
                    </div>


                    <!-- Right Side Div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Who Am I?</p>
                        <h1>I am a <span class="text_color">MERN Stack Developer</span> and a competitive programmer
                        </h1>
                        <a href="https://www.linkedin.com/in/tarun-kumar-/" target="_blank"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>

</html>